
.row{
    margin: auto;

    background-color:white;
    color: rgb(36, 132, 158);
    padding-left:160px;
    padding-bottom:0;
    padding-top: 0;
    height: 25px;
}
h1{
    position:absolute;
    top: -12px;;
    padding-left: 6%;
    padding-top: 10px;
    padding-bottom: 0;
    font-size: x-large;
    height: 300px;
}
img{
    padding-left:2%;
    background-color: white;
}

body{
    height:45px;
    font-size: larger;
    font-weight: bold;
    padding-left: 190px;
    background-color: whitesmoke;
    
}
button{

    align-items:center;
    background-color: rgb(36, 132, 158);
    color:white;
    border-color: rgb(36, 132, 158) ;
    height: 30px;
}
.tab{
    padding-left: 80%;
}

p{
    padding-top: 10px;
    padding-bottom: 30px;
}
 
