.row {
    width: 85%;
    background-color:white;
    color: rgb(36, 132, 158);
    padding-bottom: 0;
    padding-top: 0;
    height: 50px;
}

.heading {
    margin-left: 20%;
    padding-top: 0px;
    font-weight: bolder;
    font-size: 25px;
    height: 300px;
    padding-bottom: 0;
    margin-top: -35px;
}

img {
    margin-left: 15%;
    padding-top: 5px;
    background-color: white;
}

.header-container {
    height: 45px;
    font-size: larger;
    font-weight: bold;
    background-color: whitesmoke;
}

button {
    margin-left: 80%;
    align-items: center;
    background-color: rgb(36, 132, 158);
    color: white;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(36, 132, 158);
}

.books {
    margin-left: 211px;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 30px;
}
 
