
 <div>
    <app-searchh (searchTextChanged)="onSearchTextEntered($any($event))"></app-searchh>
 </div>
 
<div class="card">
    
    
    <div *ngFor="let user of userList; let i = index">
            
        <div class="coursecontainer" *ngIf="searchText === '' || user.volumeInfo.title.toLowerCase().includes(searchText)"> 
            <div class="cards" style="padding: 0px;" style="height:130px;">
            <h1>{{ user.volumeInfo.title}}</h1>
            <p>Author: {{ user.volumeInfo.authors }}</p>
            <p>Publisher: {{ user.volumeInfo.publisher }}</p>
            <p>Published Date: {{ user.volumeInfo.publishedDate }}</p>
            </div>
        </div>
       </div>
    </div>    


    

