.sidemenu{
    height: 100%;
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    padding-top: 2px;
    border-right:2px solid #b5b3b3;
    
}
.sidemenu a{
    color: grey;
    padding: 15px;
    text-decoration: none;
    
    display:block;
    font-size:10px;


}
.sidemenu a:hover{
    background-color: rgb(235, 230, 230);
}